# 1. array_add
array_add/cmake-build-debug
array_add/build

# 2. conv
conv/cmake-build-debug
conv/build

# 3. array_sum
array_sum/cmake-build-debug
array_sum/build

# 4. array_sum2
array_sum2/cmake-build-debug
array_sum2/build

# 5. shared_memory_malloc
shared_memory_malloc/cmake-build-debug
shared_memory_malloc/build

# 6. calc_pi
calc_pi/cmake-build-debug
calc_pi/build

# ide
.idea