

# 1. cuda-basic-examples
cuda-basic-examples/array_add/cmake-build-debug
cuda-basic-examples/array_add/build
cuda-basic-examples/array_sum/cmake-build-debug
cuda-basic-examples/array_sum/build
cuda-basic-examples/array_sum2/cmake-build-debug
cuda-basic-examples/array_sum2/build
cuda-basic-examples/shared_memory_malloc/cmake-build-debug
cuda-basic-examples/shared_memory_malloc/build
cuda-basic-examples/calc_pi/cmake-build-debug
cuda-basic-examples/calc_pi/build
cuda-basic-examples/calc_product/cmake-build-debug
cuda-basic-examples/calc_product/build

# 2. cuda-from-scratch-examples

# ide
.idea

# others
calc_product/*